@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .link {
    @apply text-blue-600 font-semibold hover:text-blue-700 cursor-pointer;
  }

  .blue-button {
    @apply text-white bg-blue-600 px-2 py-1 hover:bg-blue-700 cursor-pointer;
  }

  .input {
    @apply outline-none bg-[#F7F8FA] border-[1px] px-3 border-[#D9D9DB] border-b-0 w-full;
  }

  .markdown-styles {
    @apply prose-pre:text-[#e5e7eb] prose-pre:bg-[#1f2937] prose-base prose-headings:my-6 prose-headings:font-semibold prose-p:text-base md:prose-p:text-lg;
  }
}

.modal-dim {
  width: clamp(300px, 95%, 600px);
  height: auto;
  max-height: min(80%, 400px);
}
